<form [formGroup]="requestForm">
    <div class="row">
        <div class="form-group col-md-12">
            <label>Request Name*:</label>
            <input type="text" class="form-control" formControlName="RequestName" maxlength="255">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label>Requestor*:</label>
            <ng-select formControlName="Requestor">
                <ng-option *ngFor="let user of userList" [value]="user.id">{{user.DisplayName}}</ng-option>
            </ng-select>
        </div>
    </div>
    <div class="row">
        <div class="form-group rb-container col-md-12">
            <label>Good ending*: </label>
            <label for="gEyes" class="form-check form-check-inline">
                <input id="gEyes" class="form-check-input" type="radio" formControlName="GoodEnding" value="Yes">
                <label for="gEyes" class="form-check-label">Yes</label>
                <span class="checkmark"></span>
            </label>
            <label for="gEdep" class="form-check form-check-inline">
                <input id="gEdep" class="form-check-input" type="radio" formControlName="GoodEnding" value="Depends">
                <label for="gEdep" class="form-check-label">Depends</label>
                <span class="checkmark"></span>
            </label>
            <label for="gEno" class="form-check form-check-inline">
                <input id="gEno" class="form-check-input" type="radio" formControlName="GoodEnding" value="No">
                <label for="gEno" class="form-check-label">No</label>
                <span class="checkmark"></span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label>Description*:</label>
            <textarea class="form-control" formControlName="Description" minlength="250" rows="10"></textarea>
            <small class="form-text">No spoilers please.</small>
        </div>
    </div>
    <div class="row">
        <div class="form-group chk-container col-md-12">
            <label for="NeedStoryteller">Need storyteller:
                <div class="form-check form-check-inline">
                    <input id="NeedStoryteller" type="checkbox" formControlName="NeedStoryteller" value="true" (change)="onStorytellerTick($event)">
                    <span class="checkmark"></span>
                </div>
            </label>
        </div>
    </div>
    <div class="row" *ngIf="isStorytellerVisible">
            <div class="form-group col-md-12">
                <label>Storyteller:</label>
                <ng-select formControlName="Storyteller">
                    <ng-option *ngFor="let user of userList" [value]="user.id">{{user.DisplayName}}</ng-option>
                </ng-select>
            </div>
        </div>
    <div class="row">
        <div class="form-group col-md-2">
                <label>Deadline:</label>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker [minDate]="minDate" [maxDate]="maxDate" #d="ngbDatepicker" formControlName="Deadline">
                <div class="input-group-append">
                    <button class="btn btn-dark calendar" (click)="d.toggle()" type="button">
                        <fa-icon [icon]="faCalendar"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <label>Wanted Characters:</label>
            <ng-select [multiple]="true" formControlName="WantedCharacters">
                <ng-option *ngFor="let character of characterList" [value]="character">{{character}}</ng-option>
            </ng-select>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label>Budget</label>
            <input class="form-control" formControlName="Budget" currencyMask [options]="currencyMaskConfig" min="250000">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <div class="btn-group btn-group-toggle float-right">
                <a class="btn btn-outline-dark" [routerLink]="'/' + routes.dashboard">Cancel</a>
                <button class="btn btn-dark" (click)="handleSaveAsDraft()" [disabled]="requestForm.invalid || requestForm.disabled">Save as Draft</button>
                <button class="btn btn-dark" (click)="handleSubmit()" [disabled]="requestForm.invalid || requestForm.disabled">Submit</button>
            </div>
        </div>
    </div>
</form>