@import "bootstrap/scss/_functions";
@import "./app/styles/variables.scss";
@import "bootstrap/scss/_mixins";
@import "bootstrap/scss/_root";
@import "bootstrap/scss/_reboot";
@import "bootstrap/scss/_type";
@import "bootstrap/scss/_grid";
@import "bootstrap/scss/_tables";
@import "bootstrap/scss/_forms";
@import "bootstrap/scss/_buttons";
@import "bootstrap/scss/_transitions";
@import "bootstrap/scss/_dropdown";
@import "bootstrap/scss/_button-group";
@import "bootstrap/scss/_input-group";
@import "bootstrap/scss/_custom-forms";
@import "bootstrap/scss/_card";
@import "bootstrap/scss/_media";
@import "bootstrap/scss/_list-group";
@import "bootstrap/scss/_tooltip";
@import "bootstrap/scss/_utilities";
@import "~@ng-select/ng-select/themes/default.theme.css";

@import "./app/styles/custom-checkbox.scss";
@import "./app/styles/custom-radio.scss";

form .ng-invalid {
    @extend .is-invalid;
    background-image: none !important;
    box-shadow: none !important;

    & + .form-check-label + .checkmark {
        border: 1px solid #dc3545 !important;
    }
    
}

.ng-select, .ng-select.ng-select-single {
    &.ng-invalid {
        .ng-select-container {
            border-color: #dc3545;
        }
    }

    &.ng-select-opened .ng-select-container {
        border-color: $dark;
    }

    .ng-dropdown-panel.ng-select-bottom {
        border-color: $dark;
    }

    .ng-dropdown-panel {
        .ng-dropdown-panel-items {
            .ng-option {
                padding: 15px 10px;
                color: $dark;
                
                &.ng-option-marked,
                &.ng-option-selected {
                background: $dark;
                color: #fff;
            }
            }
        }
    }

    .ng-select-container {
        box-shadow: none !important;
        height: $input-height;
        border-radius: 0;
        border-color: $input-border-color;
    }

    &.ng-select-multiple {
        .ng-select-container .ng-value-container .ng-value {
            background-color: $dark !important;
            color: #fff;
            font-size: 14px;;

            .ng-value-label {
                padding: 5px 10px !important;
            }

            .ng-value-icon.left {
                padding: 0 10px 0;
                border-right: none !important;

                &:hover {
                    background-color: $dark !important;
                }
            }
        }
    }
}

.form-group > label {
    margin-bottom: 15px;
    font-weight: bold;
}

.btn-group .btn {
    margin: 0 15px;
}